#userStyle{
    /* display: flex; */
    padding: 10px;
}

.select{
    padding: 10px;
}

body{
    background-color: rgb(125, 203, 235);
}

.options{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 400px;
}

.options > div{
    display: flex;
    justify-content: center;
}